* {
    font-family: 'lucida console';
}

body {
    background-color:rgb(153, 145, 145);
}

.boxed {
    background-color: grey;
    padding: 10px;
    color: cyan;
    height: fit-content;
}

.color-text {
    color: rgb(97, 76, 76);
}

/*start of nav*/
section {
    background-size: cover;
    background-image: url('../images/bg-image1.jpg');
    display: flex;
}

#name {
    flex-basis: 15%;
}

.box1 {
    flex: 1;
}

nav {
    flex: 1;
}

nav ul li {
    text-decoration: underline solid 3px blue;
    color: blue;
}

ul {
    list-style-type: none;
    white-space: nowrap;
    flex-wrap: wrap;
}

li {
    margin: 1%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container li {
    flex: 1;
    margin-right: auto;
}
/*end of nav*/

/*start of title*/
.title {
    background-size: cover;
    background-image: url('../images/bg-image2.jpg');
    display: flex;
    flex-direction: column;
}

.box2 {
    float: right;
    padding: 2%;
}

.title h1 {
    align-self: end;
}
/*end of title*/
/*start of main*/
main {
    display: flex;
}

.row {
    display: flex;
    padding: 2%;
}

.row h2 {
    text-align: right;
}

.column1 {
    float: left;
    width: 30%;
    border-right: 2px solid cyan;
    padding: 5px;
}

.column2 {
    width: 90%;
}


.double {
    display: flex;
    justify-content: center;
}

.primary {
    width: 100%;
}

.secondary {
    width: 100%;
}

.padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;


}
/*end of main*/

/*start of footer*/
footer {
    display: flex;
}
/*end of footer*/

.image {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    border: 5px solid cyan;
    height: auto;
    position: relative;
    left: 20px;
    margin: 4px;
}

.image:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​

a:link {
    text-decoration: underline solid 3px blue;
    color: blue;
}

a:visited {
    color: blue;
}

a:active {
    text-decoration: underline solid 3px purple;
    color: purple;
}

@media all and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }

    .container > li {
        flex-basis: 50%;
    }
}
